@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    <h1 class="page-title">庫存管理</h1>
    <ul>
        <li>按儲位查詢</li>
        <li>按料號查詢</li>
        <li>庫存調整</li>
    </ul>
</div>
