@page
@model MCpositioncodeModel
@{
    ViewData["Title"] = "Home page";
}

<div>
 @*   <h1 class="page-title">庫存管理</h1>*@
    <ul>
        <li><a class="btn btn-info" href="/ByCell">按儲位查詢</a>
            <ul> <li>列出料號和數量</li></ul>
        </li>
       
        <li>
            <a  class="btn btn-info"  href="/ByPart">
                按料號查詢</a>
                <ul> <li>列出儲位和數量</li></ul>
</li>
        <li><a  class="btn btn-primary"  href="/StockCurrentAdjust">庫存調整</a></li>
    </ul>
</div>

