@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    <h1 class="page-title">庫存管理</h1>
    <ul>
        <li><a href="/StockCurrent">按儲位查詢</a></li>
        <li>按料號查詢</li>
        <li><a href="/StockCurrentAdjust">庫存調整</a></li>
    </ul>
</div>
