@page
@model Qry2Model
@{
    ViewData["Title"] = "按儲位查詢";
}

<div >
    <h1 class="page-title">庫存管理 -> 按料號查詢</h1>
    <ul>
        <li>按儲位查詢</li>
        <li>按料號查詢</li>
        <li>庫存調整</li>
    </ul>
</div>
